body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh
}

.position-relative {
    position: relative;
    width: 429px;
    height: 429px;
}

.player-panel {
    display: flex;
    font-size: 40px;
}

.player-panel div {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
}

.player-panel img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.player-inactive {
    opacity: 0.5;
}

table {
    border-collapse: collapse;
}

tr {
    width: 399px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 6px solid #222;
    cursor: pointer;
}

td:hover {
    background-color: rgba(123, 255, 15, 0.15);
}

td:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
}

td:nth-of-type(2) {
    border-top-color: transparent;
}

td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
}

tr:nth-of-type(3) td {
    border-bottom-color: transparent;
}

.shape {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 30px;
    left: 30px;
}

.d-none {
    display: none;
}

.horizontal-line {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 429px;
    position: absolute;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
}

.game-over {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    animation: zoomIn 500ms ease-in-out;
}

.game-over-out {
    animation: zoomOut 525ms ease-in-out;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

.restart-btn {
    border: 3px solid rgba(53, 53, 53, 0.5);
    border-radius: 4px;
    background-color: #251486;
    z-index: 1;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 40px;
    position: absolute;

}

.restart-btn:hover {
    background-color: #351bcc;
}